# Para todos os arquivos e sub-pastas localizados na pasta vendor/
runcovid.sh
# Para arquivos Java compilados
#*.class
# Para código C
#*.so
# Para todos os arquivos e sub-pastas localizados na pasta bower_components/
#bower_components/