.
./all_world_forecast2020-04-01.csv
./exp_italy_2020-04-04.bmp
./exp_italy_2020-03-29.bmp
./exp_italy_2020-03-31.bmp
./logistico_brazil_2020-04-05.bmp
./logistico_brazil_2020-03-25.bmp
./all_world_forecast.csv
./exp_united.kingdom_2020-04-05.bmp
./logistico_brazil_2020-03-23.bmp
./logistico_united.kingdom_2020-04-03.bmp
./exp_brazil_2020-04-04.bmp
./exp_brazil_2020-03-31.bmp
./logistico_united.states_2020-03-28.bmp
./logistico_united.states_2020-04-06.jpg
./logistic_last_month_world_forecast2020-04-02.csv
./exp_italy_2020-04-03.jpg
./exp_brazil_2020-04-06.jpg
./exp_united.kingdom_2020-04-01.jpg
./all_world_forecast2020-04-03.csv
./logistico_brazil_2020-04-06.jpg
./logistic_all_world_forecast2020-04-04.csv
./exp_united.states_2020-03-28.bmp
./all_world_forecast2020-03-29.csv
./exp_brazil_2020-03-28.bmp
./logistico_italy_2020-04-06.bmp
./logistico_united.states_2020-04-06.bmp
./exp_united.states_2020-03-31.jpg
./logistico_united.kingdom_2020-03-28.jpg
./exp_united.states_2020-03-26.bmp
./logistico_united.kingdom_2020-03-30.jpg
./exp_italy_2020-03-26.jpg
./exp_italy_2020-03-27.bmp
./exp_brazil_2020-04-03.jpg
./logistico_italy_2020-03-31.jpg
./exp_united.kingdom_2020-04-01.bmp
./logistico_brazil_2020-03-29.bmp
./logistico_brazil_2020-03-28.bmp
./logistico_italy_2020-03-24.jpg
./logistico_united.states_2020-04-04.jpg
./logistico_united.states_2020-03-25.jpg
./exp_united.states_2020-04-06.jpg
./data_2020-04-06.csv
./exp_brazil_2020-03-30.jpg
./exp_united.kingdom_2020-03-30.bmp
./exp_Italy_2020-03-22.bmp
./logistico_united.states_2020-03-25.bmp
./exp_usa_2020-03-23.jpg
./exp_united.states_2020-04-05.bmp
./logistico_usa_2020-03-25.bmp
./exp_italy_2020-03-26.bmp
./logistic_last_month_world_forecast2020-04-05.csv
./exp_brazil_2020-04-06.bmp
./exp_united.states_2020-04-06.bmp
./all_world_forecast2020-04-06.csv
./logistico_united.states_2020-03-30.jpg
./exp_italy_2020-03-23.bmp
./all_world_forecast2020-04-02.csv
./exp_united.states_2020-03-28.jpg
./logistico_united.kingdom_2020-04-06.jpg
./logistico_italy_2020-04-01.jpg
./logistico_brazil_2020-03-26.bmp
./exp_brazil_2020-04-01.bmp
./logistico_united.states_2020-03-30.bmp
./logistic_all_world_forecast2020-03-29.csv
./mapa.es.html
./exp_united.states_2020-04-04.bmp
./exp_brazil_2020-04-05.jpg
./logistico_italy_2020-04-02.bmp
./exp_united.kingdom_2020-03-26.jpg
./logistic_all_world_forecast2020-04-06.csv
./logistico_brazil_2020-04-02.bmp
./logistic_last_month_world_forecast2020-04-06.csv
./logistico_united.states_2020-03-26.bmp
./exp_united.states_2020-03-29.jpg
./logistico_brazil_2020-03-27.bmp
./exp_united.states_2020-03-27.bmp
./exp_brazil_2020-03-26.jpg
./exp_brazil_2020-03-28.jpg
./logistico_united.kingdom_2020-03-31.jpg
./exp_Brazil_2020-03-22.bmp
./logistico_Italy_2020-03-22.bmp
./exp_united.kingdom_2020-03-25.jpg
./exp_united.states_2020-04-02.jpg
./logistico_united.kingdom_2020-03-28.bmp
./exp_united.states_2020-03-31.bmp
./logistico_united.kingdom_2020-04-02.bmp
./logistico_italy_2020-03-23.jpg
./logistico_brazil_2020-03-27.jpg
./last_month_world_forecast2020-04-03.csv
./logistico_united.states_2020-04-05.bmp
./exp_united.states_2020-03-30.bmp
./exp_italy_2020-03-24.bmp
./logistic_last_month_world_forecast2020-03-31.csv
./logistico_united.kingdom_2020-03-31.bmp
./exp_united.kingdom_2020-03-28.bmp
./logistico_brazil_2020-04-02.jpg
./exp_united.kingdom_2020-03-31.jpg
./exp_italy_2020-04-06.jpg
./logistico_united.kingdom_2020-03-26.bmp
./exp_brazil_2020-03-23.bmp
./exp_brazil_2020-03-24.bmp
./logistico_brazil_2020-04-03.jpg
./exp_brazil_2020-03-30.bmp
./logistico_italy_2020-03-25.jpg
./logistico_united.states_2020-04-04.bmp
./exp_brazil_2020-03-27.bmp
./exp_italy_2020-03-30.bmp
./logistico_usa_2020-03-23.jpg
./logistico_united.kingdom_2020-03-27.bmp
./logistico_united.kingdom_2020-04-03.jpg
./logistico_brazil_2020-03-24.jpg
./exp_italy_2020-04-04.jpg
./logistico_united.states_2020-04-03.bmp
./exp_usa_2020-03-24.jpg
./logistico_united.kingdom_2020-04-05.bmp
./exp_united.states_2020-03-27.jpg
./logistico_brazil_2020-03-30.bmp
./logistico_italy_2020-03-25.bmp
./exp_italy_2020-03-23.jpg
./logistico_Brazil_2020-03-21.bmp
./logistico_Brazil_2020-03-22.bmp
./logistico_brazil_2020-03-31.jpg
./exp_italy_2020-03-25.jpg
./last_month_world_forecast.csv
./exp_italy_2020-03-28.jpg
./logistico_brazil_2020-04-01.jpg
./exp_usa_2020-03-24.bmp
./exp_italy_2020-04-02.bmp
./exp_italy_2020-04-02.jpg
./exp_united.kingdom_2020-03-27.bmp
./logistico_brazil_2020-03-30.jpg
./exp_italy_2020-04-01.jpg
./exp_united.kingdom_2020-04-06.jpg
./logistico_brazil_2020-03-31.bmp
./logistico_italy_2020-03-29.jpg
./logistico_united.kingdom_2020-04-04.jpg
./logistic_all_world_forecast2020-04-01.csv
./exp_united.kingdom_2020-04-06.bmp
./exp_united.kingdom_2020-03-25.bmp
./logistico_united.states_2020-04-05.jpg
./logistico_brazil_2020-04-06.bmp
./logistico_usa_2020-03-25.jpg
./exp_italy_2020-03-31.jpg
./logistico_italy_2020-03-24.bmp
./exp_united.states_2020-03-29.bmp
./logistic_all_world_forecast2020-03-30.csv
./exp_united.states_2020-03-26.jpg
./logistico_united.states_2020-04-01.jpg
./last_month_world_forecast2020-03-31.csv
./exp_united.states_2020-03-25.bmp
./full_data.csv
./exp_usa_2020-03-25.bmp
./logistico_usa_2020-03-24.bmp
./logistico_italy_2020-04-05.jpg
./logistico_united.kingdom_2020-04-05.jpg
./COVID19es/scripts/maps/es_df.rds
./logistico_united.states_2020-03-31.bmp
./logistico_united.kingdom_2020-04-01.jpg
./exp_italy_2020-03-27.jpg
./exp_brazil_2020-03-31.jpg
./data_2020-04-04.csv
./logistico_brazil_2020-03-24.bmp
./exp_usa_2020-03-25.jpg
./logistico_italy_2020-03-28.bmp
./logistico_brazil_2020-04-04.jpg
./logistic_last_month_world_forecast2020-04-01.csv
./logistico_united.states_2020-03-26.jpg
./exp_brazil_2020-03-27.jpg
./last_month_world_forecast2020-04-02.csv
./.git/objects/b9/d573552f16d586aad6f0d7b2fc8e411065ddd8
./.git/objects/4c/d511bd59501ebc3c3baf05896d67b16495d5ee
./.git/objects/73/fd7faac81902c96b028ac776c09b169d2e2043
./.git/objects/f6/0c0f97cd32cabc69111189bab6b6617439ec76
./.git/objects/07/f329b4868e8fbc7eef3df9ae30f4d1dc7a5f62
./.git/objects/dd/7f65ad3114ddbb4c5807573525af61462b2932
./.git/objects/87/8e2ba834e5a5c0bafbb2c28f1a11e7f59c6d66
./.git/objects/34/fddefa98e413b4c6940694678706937f57f976
./.git/objects/71/bf07117fe931ebf43cd97c1455905c4cfe5da1
./.git/objects/df/69565319c61dc3e478f0dc05defe475a9c94f6
./.git/objects/3b/fd59edad4a2b9d8fcaa912c0a6b08b52f7bc0b
./.git/objects/8d/4857ea3dc909cfb3c4399c56c93959cc397157
./.git/objects/bc/bc3e87d57ecf20b9a73b9fc3ca7a7a9ba059a5
./.git/objects/d1/bf4c60560d47e2ce830a28071806e0b6a863f1
./.git/objects/b4/719dd18620faeaa57a707b1715eef7aa8cf7b4
./.git/objects/f7/f7e6785a5f1026d78467597516786e8770bcc7
./.git/objects/29/4738a8f4a78faa9a2f0e87a03b94759b3596dd
./.git/objects/85/d5ea052bbc800a2b6f3f90495a0f30f264bd4a
./.git/objects/c7/a626b9bae24b010f24b783d2af146c0e88004e
./.git/objects/e0/643b4d50045cd3093d226867346a9354f601ef
./.git/objects/91/6fcd9027ade6add923e5654807e81c89616ee9
./.git/objects/a8/c9de02172c7c0be47780abb67519770ad867dc
./.git/objects/pack/pack-fad745e72bada492b896ef59b243d74eb14d0131.pack
./.git/objects/pack/pack-fad745e72bada492b896ef59b243d74eb14d0131.idx
./.git/objects/4b/1d1e3dc27ff396c2f00376ccbcec1463458d29
./.git/objects/97/cf634b8edc2261718ff454ff0a7247bb43aca3
./.git/objects/3e/3893d6ac126da4eacbbec04ab55d0c0c268cad
./.git/objects/17/511bb24a62577d9383336ba0859574ae172b55
./.git/objects/56/6e6ab8d1e9d4893a4bd896128d8535df2c8f04
./.git/objects/3f/5c0d04d1eb77ec5f706f0ce9dd61b959207e51
./.git/objects/c5/a33552bef0a25af1fd22fb9d726bb095bcfdaa
./.git/objects/21/d218743e84a9ae94886eea39d78b1bbf0a8598
./.git/objects/cb/40142f3b29e9cb9b1377d552e26ce0827beaaa
./.git/objects/32/b3c92590e89d0f18d58147602d7d3a5dbd5950
./.git/objects/19/2b3e2d95bcdd917021ed761e6a78e558fdd0c6
./.git/objects/81/e3105eb3fb4a8dda3972b767c161246b912cca
./.git/objects/40/3aaa5d9d26ee48d399d04a6ff44ed4235a60ca
./.git/objects/1f/24725defef7e9fa09e2e38c1caa57e002c8eb0
./.git/objects/8b/a88507d6845844a40798682e8c5b3f4dda0481
./.git/objects/d4/c0827f9b0fee991f85a19387ff05ac93b1beef
./.git/objects/a5/1022b5bc2d6e1dc4dcbe8bf87ea09bd770ff28
./.git/objects/a5/5ad012e06221b64c193b560b3be2094f77cec7
./.git/objects/01/5192acc39343dbd21bdc6235d39ebf66d759d3
./.git/objects/7d/7ca6e4eb7cb50891ae51bdfb88fcd3e98db383
./.git/objects/c6/3107d7716db067da682890d9b8cbbda7cee22a
./.git/index
./exp_united.states_2020-04-01.bmp
./exp_united.kingdom_2020-04-02.jpg
./exp_united.kingdom_2020-03-31.bmp
./exp_italy_2020-03-25.bmp
./exp_italy_2020-04-05.jpg
./logistico_brazil_2020-04-05.jpg
./exp_united.kingdom_2020-03-27.jpg
./logistico_united.kingdom_2020-03-29.bmp
./exp_italy_2020-04-01.bmp
./logistico_Italy_2020-03-21.bmp
./logistico_brazil_2020-03-29.jpg
./logistico_italy_2020-03-27.bmp
./logistico_italy_2020-03-30.jpg
./logistico_italy_2020-04-03.bmp
./logistico_united.states_2020-04-02.bmp
./all_world_forecast2020-03-28.csv
./logistico_italy_2020-03-26.jpg
./logistico_united.kingdom_2020-04-01.bmp
./logistico_brazil_2020-03-28.jpg
./exp_united.kingdom_2020-03-29.jpg
./logistico_italy_2020-04-05.bmp
./logistic_all_world_forecast.csv
./logistico_united.kingdom_2020-03-25.jpg
./logistico_united.states_2020-03-27.bmp
./exp_brazil_2020-04-02.jpg
./exp_united.states_2020-03-25.jpg
./logistico_brazil_2020-04-01.bmp
./logistico_brazil_2020-04-04.bmp
./exp_italy_2020-03-24.jpg
./exp_brazil_2020-03-25.bmp
./exp_brazil_2020-03-29.bmp
./exp_brazil_2020-04-02.bmp
./last_month_world_forecast2020-04-06.csv
./exp_brazil_2020-03-25.jpg
./all_world_forecast2020-03-31.csv
./logistico_united.states_2020-04-01.bmp
./exp_italy_2020-03-29.jpg
./logistico_united.states_2020-03-29.bmp
./exp_italy_2020-03-28.bmp
./logistico_italy_2020-04-01.bmp
./logistico_united.kingdom_2020-03-30.bmp
./exp_united.kingdom_2020-04-05.jpg
./logistico_brazil_2020-03-26.jpg
./logistico_brazil_2020-04-03.bmp
./exp_brazil_2020-04-03.bmp
./last_month_world_forecast2020-03-29.csv
./exp_united.kingdom_2020-03-28.jpg
./exp_united.states_2020-04-05.jpg
./last_month_world_forecast2020-04-05.csv
./all_world_forecast2020-03-30.csv
./logistico_united.states_2020-04-02.jpg
./logistic_all_world_forecast2020-04-05.csv
./last_month_world_forecast2020-04-04.csv
./exp_Italy_2020-03-21.bmp
./logistico_italy_2020-03-29.bmp
./exp_united.kingdom_2020-04-03.jpg
./logistico_italy_2020-04-03.jpg
./logistico_italy_2020-04-06.jpg
./last_month_world_forecast2020-04-01.csv
./exp_brazil_2020-04-04.jpg
./logistico_italy_2020-04-04.bmp
./exp_united.kingdom_2020-03-30.jpg
./logistic_all_world_forecast2020-04-02.csv
./logistic_all_world_forecast2020-04-03.csv
./logistico_italy_2020-04-02.jpg
./logistic_all_world_forecast2020-03-31.csv
./logistic_last_month_world_forecast2020-04-03.csv
./exp_united.states_2020-04-03.jpg
./exp_united.states_2020-04-01.jpg
./logistico_usa_2020-03-23.bmp
./exp_united.states_2020-03-30.jpg
./logistico_italy_2020-03-23.bmp
./logistico_italy_2020-03-30.bmp
./exp_italy_2020-04-05.bmp
./logistico_united.states_2020-03-28.jpg
./logistico_united.kingdom_2020-04-04.bmp
./exp_brazil_2020-03-29.jpg
./logistico_united.kingdom_2020-03-26.jpg
./all_world_forecast2020-04-05.csv
./exp_brazil_2020-04-05.bmp
./exp_united.states_2020-04-04.jpg
./logistico_united.states_2020-03-27.jpg
./logistico_italy_2020-04-04.jpg
./exp_united.kingdom_2020-03-29.bmp
./logistico_united.kingdom_2020-03-29.jpg
./last_month_world_forecast2020-03-30.csv
./exp_united.states_2020-04-02.bmp
./exp_united.states_2020-04-03.bmp
./docs
./docs/libs/jquery-1.11.3/jquery.js
./docs/libs/jquery-1.11.3/jquery.min.js
./docs/libs/jquery-1.11.3/jquery.min.map
./docs/libs/crosstalk-1.1.0.1/js/crosstalk.js.map
./docs/libs/plotly-main-1.52.2/plotly-latest.min.js
./docs/libs/jquery-1.12.4/jquery.min.js
./docs/libs/Proj4Leaflet-1.0.1/proj4-compressed.js
./docs/libs/leaflet-binding-2.0.3/leaflet.js
./docs/libs/crosstalk-1.0.0/js/crosstalk.js.map
./docs/libs/leaflet-1.3.1/leaflet.js
./docs/mortes_full_2020-04-06.html
./docs/mortes_full_2020-04-01.html
./docs/assets/css/style-starter.css
./docs/assets/css/loading.gif
./docs/assets/images/d.png
./docs/assets/images/c.png
./docs/assets/images/g2.jpg
./docs/assets/js/bootstrap.min.js
./docs/assets/js/owl.carousel.js
./docs/assets/js/jquery-3.4.1.slim.min.js
./docs/crescimento_full_2020-04-02.html
./docs/crescimento_100cases_2020-03-28.html
./docs/logistico_es_2020-04-04.jpg
./docs/mortes_full.html
./docs/crescimento_full_2020-04-03.html
./docs/logistico_es_2020-04-03.bmp
./docs/mapa.es.html
./docs/mortes_full_2020-04-04.html
./docs/crescimento_full_2020-04-04.html
./docs/logistico_es_2020-04-04.bmp
./docs/mortes_full_2020-04-03.html
./docs/mortes_full_2020-03-28.html
./docs/crescimento_full_2020-03-30.html
./docs/paises.html
./docs/crescimento_full_2020-03-20.html
./docs/mortes_full_2020-04-05.html
./docs/mortes_full_2020-03-31.html
./docs/mortes_full_2020-03-29.html
./docs/crescimento_full_2020-03-15.html
./docs/crescimento_full_2020-03-29.html
./docs/mortes_full_2020-03-30.html
./docs/crescimento_full_2020-03-31.html
./docs/logistico_es_2020-04-03.jpg
./docs/Costa.Rica_exp.html
./docs/mortes_full_2020-04-02.html
./docs/crescimento_full_2020-04-05.html
./docs/crescimento_full.html
./docs/crescimento_full_2020-04-06.html
./docs/crescimento_full_2020-04-01.html
./docs/crescimento_full_2020-03-28.html
./docs/crescimento_100cases_2020-03-26.html
./docs/Sri.Lanka_exp.html
./exp_brazil_2020-03-23.jpg
./logistic_last_month_world_forecast.csv
./logistic_last_month_world_forecast2020-04-04.csv
./exp_united.kingdom_2020-04-04.jpg
./logistico_brazil_2020-03-23.jpg
./logistico_united.states_2020-04-03.jpg
./exp_united.kingdom_2020-04-03.bmp
./exp_brazil_2020-03-26.bmp
./exp_brazil_2020-03-24.jpg
./logistico_italy_2020-03-27.jpg
./logistico_united.states_2020-03-31.jpg
./logistico_united.states_2020-03-29.jpg
./exp_usa_2020-03-23.bmp
./logistico_usa_2020-03-24.jpg
./exp_united.kingdom_2020-04-02.bmp
./logistico_united.kingdom_2020-04-02.jpg
./logistico_italy_2020-03-26.bmp
./logistico_united.kingdom_2020-03-27.jpg
./logistic_last_month_world_forecast2020-03-30.csv
./logistico_italy_2020-03-28.jpg
./logistico_united.kingdom_2020-04-06.bmp
./logistico_united.kingdom_2020-03-25.bmp
./data_2020-04-05.csv
./logistic_last_month_world_forecast2020-03-29.csv
./exp_italy_2020-04-06.bmp
./exp_brazil_2020-04-01.jpg
./exp_italy_2020-04-03.bmp
./logistico_brazil_2020-03-25.jpg
./exp_united.kingdom_2020-03-26.bmp
./exp_Brazil_2020-03-21.bmp
./all_world_forecast2020-04-04.csv
./exp_italy_2020-03-30.jpg
./logistico_italy_2020-03-31.bmp
./exp_united.kingdom_2020-04-04.bmp
